body{
  margin: auto; 
  width: 85%;
}

.top{
  font-size: 30px;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}

table th{
  color:#0099FF;
  font-size: 20px;
  text-align: center;
  height: 50px;
}

table td{
  text-align: center;
}

.timeClm{
  width: 230px;
}

.nameClm{
  width: 180px;
}

.multiClm{
  width: 150px;
}

.new{
  color: red;
  text-align: right;
  font-weight: bolder;
}