body{
  margin: auto; 
  width: 85%;
}

h1{
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
}

.now{
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: solid 1px gray;
}

table th{
  color:darkblue;
  background-color:linen;
  font-size: 20px;
  text-align: center;
  height: 50px;
}

table td{
  text-align: center;
  line-height: 3;
}

.timeClm{
  width: 300px;
}

.multiClm{
  width: 200px;
}

.new{
  color: red;
  text-align: right;
  font-weight: bolder;
  border-left: none;
  border-top: none;
  border-bottom: none;
}